<div class="container">
    <section class="waffle">
        <div class="waffle_img">
            <img src="../../../../assets/waffle-img.png" alt="">
        </div>
        <div class="waffle_options">
            <div class="waffle_options_item">
                <div class="waffle_options_item_title cloud9-font-text-scooter">NUTELLA CRUNCH</div>
                <div class="waffle_options_item_description cloud9-font-azure">
                    banana or strawberries with ice-cream
                </div>
            </div>
            <div class="waffle_options_item">
                <div class="waffle_options_item_title cloud9-font-text-valencia">chocolate havana</div>
                <div class="waffle_options_item_description cloud9-font-azure">
                    banana or strawberries with ice-cream
                </div>
            </div>
            <div class="waffle_options_item">
                <div class="waffle_options_item_title cloud9-font-text-scooter">jamaican banana</div>
                <div class="waffle_options_item_description cloud9-font-azure">
                    banana or strawberries with ice-cream
                </div>
            </div>
            <div class="waffle_options_item">
                <div class="waffle_options_item_title cloud9-font-text-valencia">strawberry storm</div>
                <div class="waffle_options_item_description cloud9-font-azure">
                    strawberries, jam with ice-cream
                </div>
            </div>
        </div>
        <div class="waffle_price cloud9-font-azure">$12</div>
        <div class="waffle_extras">
            <div class="waffle_extras_seeds">
                <div class="label cloud9-font-azure">SUNFLOWER SEEDS $5</div>
                <img src="../../../../assets/seeds-vector.png" alt="">
            </div>
        </div>
        <div class="waffle_actions">
            <button id="home-button" class="button button-azure box-azure" (click)="home()">
                <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
            </button>            
        </div>
    </section>
</div>