<div class="container">
    <section class="container_section_coffee" id="coffee-section">
        <div class="container_section_coffee_columns">
            <div class="container_section_coffee_columns_options">
                <p class="cloud9-font-azure">$5</p>
                <p class="cloud9-font-valencia">latte</p>
                <p class="cloud9-font-scooter">capuccino</p>
                <p class="cloud9-font-valencia">hot chocolate</p>
                <p class="cloud9-font-scooter">chai latte</p>
                <p class="cloud9-font-valencia">dirty chai</p>
                <p class="cloud9-font-scooter">mocha</p>
                <p class="cloud9-font-valencia">short & long black</p>
                <p class="cloud9-font-scooter">affogato</p>            
            </div>
            <div class="container_section_coffee_img">
                <img src="../../../../assets/coffee/coffee-menu-vector.png" alt="">
            </div>
        </div>
        <div class="container_section_coffee_iced">
            <p class="cloud9-font-azure">ICED COFFEE $10</p>
        </div>
    </section>
    <section class="container_section_tea" id="tea-section">
        <div class="container_section_tea_columns">
            <div class="container_section_tea_columns_options">
                <p class="cloud9-font-azure">$5</p>
                <p class="cloud9-font-valencia">black tea</p>
                <p class="cloud9-font-scooter">green tea</p>
                <p class="cloud9-font-valencia">peppermint tea</p>
                <p class="cloud9-font-scooter">camomile tea</p>
                <p class="cloud9-font-valencia">lemon & ginger tea</p>
                <p class="cloud9-font-scooter">cardamon tea</p>           
            </div>
            <div class="container_section_tea_img">
                <img src="../../../../assets/coffee/tea-menu-vector.png" alt="">
            </div>
        </div>
        <div class="container_section_tea_pot">
            <p class="cloud9-font-azure">POT OF TEA OF YOUR CHOICE $10</p>            
        </div>
    </section>
    <div class="container_actions">
        <button id="coal-service" class="button button-azure box-azure" (click)="home()">
            <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
        </button>
    </div>
</div>