<div class="container">
    <section class="container_section_coffee" id="coffee-section">
        <div class="container_section_coffee_columns">
            <div class="container_section_coffee_columns_options">
                <p class="cloud9-font-azure">$5</p>
                <p class="cloud9-font-valencia">LATTE</p>
                <p class="cloud9-font-scooter">CAPUCCINO</p>
                <p class="cloud9-font-valencia">HOT CHOCOLATE</p>
                <p class="cloud9-font-scooter">CHAI LATTE</p>
                <p class="cloud9-font-valencia">DIRTY CHAI</p>
                <p class="cloud9-font-scooter">MOCHA</p>
                <p class="cloud9-font-valencia">SHORT & LONG BLACK</p>
                <p class="cloud9-font-scooter">AFFOGATO</p>            
            </div>
            <div class="container_section_coffee_img">
                <img src="../../../../assets/coffee/coffee-menu-vector.png" alt="">
            </div>
        </div>
        <div class="container_section_coffee_iced">
            <p class="cloud9-font-azure">ICED COFFEE $10</p>
        </div>
    </section>
    <section class="container_section_tea" id="tea-section">
        <div class="container_section_tea_columns">
            <div class="container_section_tea_columns_options">
                <p class="cloud9-font-azure">$5</p>
                <p class="cloud9-font-valencia">BLACK TEA</p>
                <p class="cloud9-font-scooter">GREEN TEA</p>
                <p class="cloud9-font-valencia">PEPPERMINT TEA</p>
                <p class="cloud9-font-scooter">CAMOMILE TEA</p>
                <p class="cloud9-font-valencia">LEMON & GINGER TEA</p>
                <p class="cloud9-font-scooter">CARDAMON TEA</p>           
            </div>
            <div class="container_section_tea_img">
                <img src="../../../../assets/coffee/tea-menu-vector.png" alt="">
            </div>
        </div>
        <div class="container_section_tea_pot">
            <p class="cloud9-font-azure">POT OF TEA OF YOUR CHOICE $10</p>            
        </div>
    </section>
    <div class="container_actions">
        <button id="home-button" class="button button-azure box-azure" (click)="home()">
            <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
        </button>
    </div>
</div>