<div class="container">
    <section class="container_section">
        <div class="container_section_options">
            <div class="container_section_options_drinks box-scooter" (click)="drinksOption()">
                <div class="container_section_options_drinks_label cloud9-font-azure">
                    FIZZY, SOFT & ENERGETIC DRIKS
                </div>
                <img src="../../../../assets/drinks/drink-option-1.png" alt="">
            </div>
            <div class="container_section_options_drinks box-scooter" (click)="drinksOption()">
                <div class="container_section_options_drinks_label cloud9-font-azure">
                    MOCKTAILS
                </div>
                <img src="../../../../assets/drinks/drink-option-2.png" alt="">
            </div>
            <div class="container_section_options_drinks box-scooter" (click)="drinksOption()">

                <div class="container_section_options_drinks_label cloud9-font-azure">
                    SMOOTHIE
                </div>
                <img src="../../../../assets/drinks/drink-option-3.png" alt="">
            </div>
            <div class="container_section_options_drink">

            </div>
        </div>
        <div class="container_section_actions">
            <button id="home-button" class="button button-azure box-azure" (click)="home()">
                <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
            </button>
        </div>
    </section>
</div>