<section>
    <div class="title">
        Cloud 9 Menu
    </div>
    <div class="shisha option">
        <div class="label">
            Shisha
        </div>
        <img src="../../../../assets/shisha-vector.png" alt="shisha option">
    </div>
    <div class="coffe option">
        <div class="label">
            Coffee
        </div>
        <img src="../../../../assets/coffee-vector.png" alt="shisha option">
    </div>
    <div class="drinks option">
        <div class="label">
            Drinks
        </div>
        <img src="../../../../assets/drinks-vector.png" alt="shisha option">
    </div>
    <div class="waffles option">
        <div class="label">
            Waffles
        </div>
        <img src="../../../../assets/waffle-vector.png" alt="shisha option">
    </div>
    <div class="actions option">
        <button class="assistance"></button>
        <button class="coal-service"></button>
    </div>
</section>