<section class="section">
    <div class="section_title cloud9-font-valencia pulsate-valencia">
        Cloud 9 Menu
    </div>
    <div class="shisha section_option box-scooter" (click)="shishaOption()" >
        <div class="section_option_label cloud9-font-azure pulsate-azure">
            Shisha
        </div>
        <img class="section_option_img" src="../../../../assets/shisha-vector.png" alt="shisha option">
    </div>
    <div class="coffe section_option box-scooter" (click)="coffeeOption()">
        <div class="section_option_label cloud9-font-azure pulsate-azure">
            Coffee
        </div>
        <img class="section_option_img" src="../../../../assets/coffee-vector.png" alt="coffee option">
    </div>
    <div class="drinks section_option box-scooter" (click)="drinkOption()">
        <div class="section_option_label cloud9-font-azure pulsate-azure">
            Drinks
        </div>
        <img class="section_option_img" src="../../../../assets/drinks-vector.png" alt="drinks option">
    </div>
    <div class="waffles section_option box-scooter" (click)="waffleOption()">
        <div class="section_option_label cloud9-font-azure pulsate-azure">
            Waffles
        </div>
        <img class="section_option_img" src="../../../../assets/waffle-vector.png" alt="waffles option">
    </div>
    <div class="section_actions">
        <button id="assistance" class="button button-azure box-azure">
            <div class="button_label cloud9-font-azure pulsate-azure">ASSISTANCE</div>
            <img class="button_img" src="../../../../assets/assistance-vector.png" alt="assistance button">
        </button>
        <button id="coal-service" class="button button-azure box-azure">
            <div class="button_label cloud9-font-azure pulsate-azure">COAL SERVICE</div>
            <img class="button_img" src="../../../../assets/coal-service-vector.png" alt="coal service button">
        </button>
    </div>
</section>