@import '../../../core/style/core.style.scss';

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    // @media screen and (max-width: 600px) {
    //     width: 400px;
    // }
    &_title{
        padding-bottom: 2.5rem;
        font-size: 3.75rem;
        text-align: center;
    }
    &_option {
        border: 0.3125rem solid var(--scooter-color);
        border-radius: 2.8125rem;
        height: 5.5rem;
        width: 20.0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (max-width: 350px) {
            width: 300px;
        }

        &_label {
            font-size: 2rem;
        }

        &_img {
            height: 4.6875rem;
            width: 4.6875rem;
        }
    }
    &_actions{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.25rem;
    }
}