<div class="container">
    <section id="section-1" class="container_section_soft">
        <div class="container_section_soft_drinks box-scooter">
            <div class="container_section_soft_drinks_labels">
                <p class="cloud9-font-text-azure">LEMONADE</p>
                <P class="cloud9-font-text-azure">COKE</P>
                <P class="cloud9-font-text-azure">FANTA</P>
                <P class="cloud9-font-text-azure">DIET COKE</P>
                <P class="cloud9-font-text-azure">NO SUGGAR COKE</P>
            </div>
            <div class="container_section_soft_drinks_price cloud9-font-azure">
                $3.5
            </div>
        </div>
        <div class="container_section_soft_img">
            <img src="../../../../assets/drinks/drinks-fizzy-img.png" alt="">
        </div>
        <div class="container_section_soft_drinks box-scooter">
            <div class="container_section_soft_drinks_labels">
                <p class="cloud9-font-text-azure">GREEN V</p>
                <P class="cloud9-font-text-azure">REDBULL</P>
                <P class="cloud9-font-text-azure">NO SUGGAR REDBULL</P>
                <P class="cloud9-font-text-azure">BLUE V</P>
                <P class="cloud9-font-text-azure">HOLSTEN</P>
                <P class="cloud9-font-text-azure">BUNDABERG</P>
            </div>
            <div class="container_section_soft_drinks_price cloud9-font-azure">
                $5
            </div>            
        </div>
        <div class="container_section_soft_titles">
            <P class="cloud9-font-text-azure">WATER $3</P>
            <P class="cloud9-font-text-azure">FRESH ORANGE JUICE $8</P>
        </div>
    </section>
    <section id="section-2" class="container_section_mocktail">
        <div class="container_section_mocktail_drinks box-scooter">
            <div class="container_section_mocktail_drinks_labels">
                <p class="cloud9-font-text-azure">BLUEBERRY MOJITO</p>
                <P class="cloud9-font-text-azure">PASSION STORM</P>
                <P class="cloud9-font-text-azure">PINA COLADA</P>
                <P class="cloud9-font-text-azure">WATERMELON PUNCH</P>
            </div>
            <div class="container_section_mocktail_drinks_price cloud9-font-azure">
                $11
            </div>
        </div>
        <div class="container_section_mocktail_img">
            <img src="../../../../assets/drinks/drinks-mocktail-img.png" alt="">
        </div>
        <div class="container_section_mocktail_drinks box-scooter">
            <div class="container_section_mocktail_drinks_labels">
                <p class="cloud9-font-text-azure">DEEP BLUE</p>
                <P class="cloud9-font-text-azure">STRAWBERRY DAIQUIRI</P>
                <P class="cloud9-font-text-azure">MANGO MIXER</P>
                <P class="cloud9-font-text-azure">LIME MARGARITA</P>
            </div>
            <div class="container_section_mocktail_drinks_price cloud9-font-azure">
                $11
            </div>
        </div>
    </section>
    <section id="section-3" class="container_section_smoothie">
        <div class="container_section_smoothie_drinks box-scooter">
            <div class="container_section_smoothie_drinks_labels">
                <p class="cloud9-font-text-azure">CHOCOLATE</p>
                <P class="cloud9-font-text-azure">STRAWBERRY</P>
                <P class="cloud9-font-text-azure">VANILLA</P>
                <P class="cloud9-font-text-azure">CARAMEL</P>
            </div>
            <div class="container_section_smoothie_drinks_price cloud9-font-azure">
                $10
            </div>
        </div>
        <div class="container_section_smoothie_img">
            <img src="../../../../assets/drinks/drinks-smoothie-img.png" alt="">
        </div>
        <div class="container_section_smoothie_drinks box-scooter">
            <div class="container_section_smoothie_drinks_labels">
                <p class="cloud9-font-text-azure">BUTTERSCOTCH</p>
                <P class="cloud9-font-text-azure">HAZELNUT</P>
                <P class="cloud9-font-text-azure">NUTELLA</P>
            </div>
            <div class="container_section_smoothie_drinks_price cloud9-font-azure">
                $10
            </div>
        </div>
        <div class="container_section_smoothie_titles">
            <P class="cloud9-font-azure">PROTEIN SHAKE $15</P>
        </div>
    </section>
    <div class="container_actions">
        <button id="previus-button" class="button button-azure box-azure" (click)="up()">
            <div class="button_label cloud9-font-azure pulsate-azure">PREVIUS</div>
        </button>
        <button id="home-button" class="button button-azure box-azure" (click)="home()">
            <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
        </button>
        <button id="next-button" class="button button-azure box-azure" (click)="down()">
            <div class="button_label cloud9-font-azure pulsate-azure">NEXT</div>
        </button>
    </div>
</div>