<div class="container">
    <section id="section-1" class="container_section_soft">
        <div class="container_section_soft_drinks box-scooter">
            <div class="container_section_soft_drinks_labels">
                <p>LEMONADE</p>
                <P>COKE</P>
                <P>FANTA</P>
                <P>DIET COKE</P>
                <P>NO SUGGAR COKE</P>
            </div>
            <div class="container_section_soft_drinks_price cloud9-font-azure">
                $3.5
            </div>
        </div>
        <div class="container_section_soft_img">
            <img src="../../../../assets/drinks/drinks-fizzy-img.png" alt="">
        </div>
        <div class="container_section_soft_drinks box-scooter">
            <div class="container_section_soft_drinks_labels">
                <p>GREEN V</p>
                <P>REDBULL</P>
                <P>NO SUGGAR REDBULL</P>
                <P>BLUE V</P>
                <P>HOLSTEN</P>
                <P>BUNDABERG</P>
            </div>
            <div class="container_section_soft_drinks_price cloud9-font-azure">
                $5
            </div>            
        </div>
        <div class="container_section_soft_titles">
            <P class="cloud9-font-azure">WATER $3</P>
            <P class="cloud9-font-azure">FRESH ORANGE JUICE $8</P>
        </div>
    </section>
    <section id="section-2" class="container_section_mocktail">
        <div class="container_section_mocktail_drinks box-scooter">
            <div class="container_section_mocktail_drinks_labels">
                <p>BLUEBERRY MOJITO</p>
                <P>PASSION STORM</P>
                <P>PINA COLADA</P>
                <P>WATERMELON PUNCH</P>
            </div>
            <div class="container_section_mocktail_drinks_price cloud9-font-azure">
                $11
            </div>
        </div>
        <div class="container_section_mocktail_img">
            <img src="../../../../assets/drinks/drinks-mocktail-img.png" alt="">
        </div>
        <div class="container_section_mocktail_drinks box-scooter">
            <div class="container_section_mocktail_drinks_labels">
                <p>DEEP BLUE</p>
                <P>STRAWBERRY DAIQUIRI</P>
                <P>MANGO MIXER</P>
                <P>LIME MARGARITA</P>
            </div>
            <div class="container_section_mocktail_drinks_price cloud9-font-azure">
                $11
            </div>
        </div>
    </section>
    <section id="section-3" class="container_section_smoothie">
        <div class="container_section_smoothie_drinks box-scooter">
            <div class="container_section_smoothie_drinks_labels">
                <p>CHOCOLATE</p>
                <P>STRAWBERRY</P>
                <P>VANILLA</P>
                <P>CARAMEL</P>
            </div>
            <div class="container_section_smoothie_drinks_price cloud9-font-azure">
                $10
            </div>
        </div>
        <div class="container_section_smoothie_img">
            <img src="../../../../assets/drinks/drinks-smoothie-img.png" alt="">
        </div>
        <div class="container_section_smoothie_drinks box-scooter">
            <div class="container_section_smoothie_drinks_labels">
                <p>BUTTERSCOTCH</p>
                <P>HAZELNUT</P>
                <P>NUTELLA</P>
            </div>
            <div class="container_section_smoothie_drinks_price cloud9-font-azure">
                $10
            </div>
        </div>
        <div class="container_section_smoothie_titles">
            <P class="cloud9-font-azure">PROTEIN SHAKE $15</P>
        </div>
    </section>
    <div class="container_actions">
        <button id="previus-button" class="button button-azure box-azure" (click)="up()">
            <div class="button_label cloud9-font-azure pulsate-azure">PREVIUS</div>
        </button>
        <button id="home-button" class="button button-azure box-azure" (click)="home()">
            <div class="button_label cloud9-font-azure pulsate-azure">HOME</div>
        </button>
        <button id="next-button" class="button button-azure box-azure" (click)="down()">
            <div class="button_label cloud9-font-azure pulsate-azure">NEXT</div>
        </button>
    </div>
</div>